
/* Note: if needed, the panel div elements themselves
   can be targeted via `.my-panel-group > div:not([role="separator"])`
 */

.canvas-panel-group > div[role="separator"] {
  width: 3px;
  background: #555555;
}

.panels-panel-group > div[role="separator"] {
  width: 1px;
  background: #1a1a1a;
}

.panel {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  overflow: hidden;
}

.panel-title {
  flex-grow: 0;
  
  display: block;
  padding: var(--padding) 0px;

  text-align: center;
  font-size: 12px;
  color: #b3b3b3;
  text-transform: uppercase;

  user-select: none; /* disable caret cursor on hover */
}

.panel-body {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  margin: var(--half-padding); /* prevent scrollbars from touching/interfering with panel resize handles */
}

/* Scrollbar styling */

.panel::-webkit-scrollbar,
.panel-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.panel::-webkit-scrollbar-track,
.panel-body::-webkit-scrollbar-track {
  background: var(--primary-background-color);
}

.panel::-webkit-scrollbar-thumb,
.panel-body::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

.panel::-webkit-scrollbar-thumb:hover,
.panel-body::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.panel::-webkit-scrollbar-corner,
.panel-body::-webkit-scrollbar-corner {
  background: var(--primary-background-color);
}

/* List items */

.panel-list-item {
  margin: var(--tiny-gap) var(--half-padding);
  padding: 0;
  

  display: flex;
  flex-direction: row;
  gap: var(--tiny-gap);
  font-size: var(--item-font-size);

  user-select: none; /* disable caret cursor on hover */

  overflow: hidden;
  height: var(--item-height);
}

/* Reduce left margin when there are "secret buttons"
 * on the left that only appear on hover, otherwise
 * the left-margin seems too wide when there is no hover
 */
.panel-list-item.has-secret-zone {
  margin-left: var(--tiny-gap);
  padding: 0;
}
  
.panel-list-item > .hover-zone {
  flex: 0 0 auto;

  display: flex;
  padding: var(--item-padding);
  height: 100%;
  border-radius: var(--item-border-radius);
}

.panel-list-item:hover > .hover-zone,
.panel-list-item.is-hovered > .hover-zone {
  background-color: var(--hovered-background-color);
  cursor: pointer;
}

.panel-list-item.is-active > .hover-zone,
.panel-list-item.is-selected > .hover-zone {
  background-color: var(--active-background-color);
}

.panel-list-item > .extra-zone {
  flex: 0 0 auto;

  display: flex;
  gap: var(--padding);
  height: 100%;
}

.panel-list-item > .secret-zone {
  flex: 0 0 auto;

  display: flex;
  color: transparent;
  height: 100%;
}

.panel-list-item:hover > .secret-zone {
  color: inherit;
}

.panel-list-item .name {
  flex-basis: 0px;
  flex-grow: 0;

  white-space: nowrap;
  height: var(--item-height);
  line-height: var(--item-height);
}

.panel-list-item .single-line-text,
.panel-list-item [data-scope='number-input'][data-part='label']
 {
  white-space: nowrap;
  height: var(--item-height);
  line-height: var(--item-height);
}

/* button */

.panel-list-item button {
  height: 100%;
  display: inline-block;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: inherit;

  margin: 0;
  padding: 0 4px;
  background: none;
  border-radius: var(--border-radius);
}

.panel-list-item button:hover {
  color: #fff;
  background: #555;
}

.panel-list-item button.single-character {
  width: 12px;
  padding: 0px;
}

/* NumberInput */

[data-scope='number-input'][data-part='root'] {
  height: 100%;

  display: flex;
  flex-direction: row;
  gap: 0px;

  background-color: #212121;
  border-radius: var(--border-radius);
}

[data-scope='number-input'][data-part='label'] {
  flex-basis: auto;
  flex-grow: 0;
  padding: 0 0 0 6px;
  color: #b0b0b0;

  /* Compensate the perceptual off-centering due to border-radius only on the
     left side.
  */
  margin-right: calc(1px - var(--border-radius));
}

[data-scope='number-input'][data-part='input'] {
  flex-basis: 0px;
  flex-grow: 1;

  width: 70px;

  border: 0;
  margin: 0;
  padding: 0 6px;

  background-color: transparent;
  color: var(--primary-text-color);
  text-align: center;
}

[data-scope='number-input'][data-part='input']:focus {
  outline: none;
}

/* Input groups */

.input-group {
  display: flex;
}

.input-group > *,
.input-group > [data-scope='number-input'][data-part='root'] {
  border-radius: 0px; 
}

.input-group > *:first-child,
.input-group > *:first-child[data-scope='number-input'][data-part='root'] {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.input-group > *:last-child,
.input-group > *:last-child[data-scope='number-input'][data-part='root'] {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* Input icons */

.input-icon {
  background: #666;
}

.input-icon:hover {
  cursor: pointer;
}

.input-icon.red {
  background: #eb4747;
}

.input-icon.red:hover {
  background: #ff6767;
}

.input-icon.green {
  background: #288e11;
}

.input-icon.green:hover {
  background: #48ae21;
}