
.object-row-info {
  margin: 2px 8px;
  padding: 1px 8px;
  

  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 12px;

  user-select: none; /* disable caret cursor on hover */

  overflow: hidden;
}

.object-row-info:hover {
  background-color: #4063d5;
  border-radius: 5px;
  overflow: hidden;
}

.object-row-info .object-name {
  flex-basis: 0px;
  flex-grow: 0;

  white-space: nowrap;
}

[data-scope='number-input'][data-part='root'] {
  flex-basis: 0px;
  flex-grow: 0;

  width: 60px;

  display: flex;
  flex-direction: row;
  gap: 3px;
}

[data-scope='number-input'][data-part='label'] {
  flex-basis: auto;
  flex-grow: 0;
  cursor: ew-resize;
}

[data-scope='number-input'][data-part='input'] {
  flex-basis: 0px;
  flex-grow: 1;

  width: 50px;

  border: 0;
  margin: 0;
  padding: 0;

  border-radius: 10px;

  background-color: #adcdad;
  text-align: center;
}

[data-scope='number-input'][data-part='input']:focus {
  outline: 1px solid #fff;
}

[data-scope='number-input'][data-part='scrubber'] {
  flex-basis: 0px;
  flex-grow: 1;
  min-width: 10px;
}
