
/* Note: if needed, the panel div elements themselves
   can be targeted via `.my-panel-group > div:not([role="separator"])`
 */

.canvas-panel-group > div[role="separator"] {
  width: 3px;
  background: #555555;
}

.panels-panel-group > div[role="separator"] {
  width: 1px;
  background: #1a1a1a;
}

.panel {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: #333333;
  color: #f9f9f9;

  overflow: hidden;
}

.panel-title {
  flex-grow: 0;
  
  display: block;
  padding: 8px 0px;

  text-align: center;
  font-size: 12px;
  color: #b3b3b3;
  text-transform: uppercase;

  user-select: none; /* disable caret cursor on hover */
}

.panel-body {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Scrollbar styling */

.panel::-webkit-scrollbar,
.panel-body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.panel::-webkit-scrollbar-track,
.panel-body::-webkit-scrollbar-track {
  background: #333;
}

.panel::-webkit-scrollbar-thumb,
.panel-body::-webkit-scrollbar-thumb {
  background: #555;
}

.panel::-webkit-scrollbar-thumb:hover,
.panel-body::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.panel::-webkit-scrollbar-corner,
.panel-body::-webkit-scrollbar-corner {
  background: #333;
}

/* List items */

.panel-list-item {
  margin: 2px 8px;
  padding: 0;
  

  display: flex;
  flex-direction: row;
  gap: 2px;
  font-size: 12px;

  user-select: none; /* disable caret cursor on hover */

  overflow: hidden;
  height: 20px;
}

/* Reduce left margin when there are "secret buttons"
 * on the left that only appear on hover, otherwise
 * the left-margin seems too wide when there is no hover
 */
.panel-list-item.has-secret-zone {
  margin-left: 2px;
  padding: 0;
}
  
.panel-list-item > .hover-zone {
  flex: 0 0 auto;

  display: flex;
  padding: 0px 8px;
  height: 100%;
  border-radius: 5px;
}

.panel-list-item:hover > .hover-zone,
.panel-list-item.is-hovered > .hover-zone {
  background-color: #555;
  cursor: pointer;
}

.panel-list-item.is-active > .hover-zone,
.panel-list-item.is-selected > .hover-zone {
  background-color: #4063d5;
}

.panel-list-item > .extra-zone {
  flex: 0 0 auto;

  display: flex;
  gap: 8px;
  height: 100%;
}

.panel-list-item > .secret-zone {
  flex: 0 0 auto;

  display: flex;
  color: transparent;
  height: 100%;
}

.panel-list-item:hover > .secret-zone {
  color: inherit;
}

.panel-list-item .name {
  flex-basis: 0px;
  flex-grow: 0;

  white-space: nowrap;
  height: 20px;
  line-height: 20px;
}

.panel-list-item .single-line-text,
.panel-list-item [data-scope='number-input'][data-part='label']
 {
  white-space: nowrap;
  height: 20px;
  line-height: 20px;
}

/* button */

.panel-list-item button {
  height: 100%;
  display: inline-block;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: inherit;

  margin: 0;
  padding: 0 4px;
  background: none;
  border-radius: 5px;
}

.panel-list-item button:hover {
  color: #fff;
  background: #555;
}

.panel-list-item button.single-character {
  width: 12px;
  padding: 0px;
}

/* NumberInput */

[data-scope='number-input'][data-part='root'] {
  width: 60px;
  height: 100%;

  display: flex;
  flex-direction: row;
  gap: 3px;
}

[data-scope='number-input'][data-part='label'] {
  flex-basis: auto;
  flex-grow: 0;
  padding: 0 2px;
}

[data-scope='number-input'][data-part='input'] {
  flex-basis: 0px;
  flex-grow: 1;

  width: 50px;

  border: 0;
  margin: 0;
  padding: 0;

  border-radius: 10px;

  background-color: #adcdad;
  text-align: center;
}

[data-scope='number-input'][data-part='input']:focus {
  outline: none;
}
