* , *:before, *:after
  box-sizing: border-box

body
  margin: 0
  padding: 0
  width: 100%
  height: 100%

#canvas-container
  position: relative

#demos
  display: flex
  flex-direction: column

  .demo
    display: flex
    margin: 2rem auto

    textarea
      flex: 1
      font-size: 18px
    canvas
      display: block
      margin: 0 1rem
      border: 1px solid black
